/* =================================================================== */
/* Dark #000 / #fff
====================================================================== */

.accent,
.social ul li a:hover,
.leftbottom > a:hover,
.meta i {
    color: #fff;
}
.title,
.btn-primary,
.soundmodal-content .buttons span.yes,
.btn-secondary span:first-child,
.portfolio-items .details .heading > div > div,
.blog-page .blog-content .post .category,
.blog-page .loadmore span,
.btn-primary-rtl,
.btn-primary-rtl:hover {
    color: #000;
}
.portfolio-items .details .heading img,
.portfolio-grid ul.grid li img,
.about .content .img-container img,
.blog-page .blog-content .post a img,
.blog-page .main-post img {
    filter: grayscale(1);
}

.btn-primary-rtl,
.yes,
.btn-primary,
.home .home-content h1:before,
.title,
.squares div:nth-child(n+10),
.arrow:before,
.arrow:after,
.arrow-inner:after,
.arrow-inner:before,
.home .home-content p:before,
.portfolio-grid .heading p:before,
.about .box-stats p:before,
.portfolio-items .details .heading > div,
.portfolio-items .details .heading > div:before,
.btn-secondary:before,
.btn-secondary:hover,
.layers > div:first-child,
.layers > div:nth-child(3),
.layers > div:nth-child(5),
.leftbottom > a:before,
.freelance>span:before,
.blog-page .blog-content .post .category,
.blog-page .loadmore span {
    background-color: #fff;
}
.dark .btn-primary-rtl:before {
	background-color: #aaa !important;
}

.portfolio-items .details .heading > div:after,
.loader {
    border-top-color: #fff;
}

.social ul.social li a:hover svg,
.skin svg path {
    fill: #fff;
}

.arrow svg.hover path {
  fill: #fff
}

.about .content .img-container:before {
    border: 4px solid #fff;
}